<div class="flex flex-wrap justify-content-around align-items-stretch m-5">
  <p-inputgroup>
    <input
      #searchInput
      pInputText
      placeholder="Поиск тура"
    />
    <p-inputgroup-addon>
      <p-button icon="pi pi-search" severity="secondary" variant="text"/>
    </p-inputgroup-addon>
  </p-inputgroup>
</div>

<div
  appToursListActivities
  selector=".tour-card"
  [initFirst]="true"
  (onEnter)="selectActive($event)"
  class="tours-container flex flex-wrap justify-content-around align-items-stretch">
  @for (item of tours | searchTour:  searchInput.value : 'name'; track item.id) {
     <div class="m-2 col-3 tour-card align-self-stretch">
       <p-card
        header="{{item.name}}"
        subheader="{{item.price}}">
        <ng-template #header>
          <img src="/imgs/{{item.img}}" alt="card">
        </ng-template>
         <p>{{ item.date | date:'dd-MM-yyyy' : undefined : currentLang }}</p>
<!--          <p>{{item.description}}</p>-->
         <p (click)="showMap($event, item.country?.iso_code2)" class="flex">
           Страна: {{item.country?.name_ru}}
           <img [src]="item.country?.flag_url"
                class="gray"
                alt="flag">
         </p>
        <div class="flex gap-4 mt-1 mt-3">
          <p-button label="{{'detail' | translate}}"
                    pTooltip="{{ 'showDetail' | translate}}"
                    tooltipPosition="bottom"
                    severity="primary"
                    class="w-full"
                    styleClass="w-full"
                    (click)="openDetail(item); $event.stopPropagation()"
          />
          <p-button label="Удалить"
                    severity="danger"
                    class="w-full"
                    styleClass="w-full"
                    (click)="removeTour(item.id); $event.stopPropagation()"
          />
        </div>
      </p-card>
     </div>
  }
  @empty {
    <div class="no-date">Туров не найдено</div>
  }
</div>

<app-modal [isOpen]="isModalOpen" [content]="modalContent" (closeModal)="closeModal()"></app-modal>

<ng-template #modalContent>
  <div  class="m-2 col-3 tour-card">
    <p-card
      header="{{tour.name}}"
      subheader="{{tour.price}}">
      <ng-template #header>
        <img src="/imgs/{{tour.img}}" alt="card" class="w-full">
      </ng-template>
      <p>{{tour.description}}</p>
      <ng-template #footer>
        <div class="flex gap-4 mt-3">
          <p-button label="{{'buy' | translate}}"
                    severity="primary"
                    class="w-full"
                    styleClass="w-full"
                    (onClick)="buyTour(tour)"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
</ng-template>


<p-dialog
  [modal]="true"
  [(visible)]="showModal"
  [style]="{ width: '50rem' }"
  [closable]="false"
>
  @if (showModal){
    <app-map [tourLocation]="location"/>
  }
  <ng-template #header class="flex justify-content-between align-items-center">
    <div class="w-full flex justify-content-around">
      <!-- День/Ночь -->
      <span class="flex align-items-center gap-1">
      <i class="pi" [ngClass]="{
        'pi-sun': weather.isDay === 1,
        'pi-moon': weather.isDay !== 1
      }"></i>
          {{ weather.isDay === 1 ? 'Day' : 'Night' }}
    </span>

      <!-- Дождь -->
      <span class="flex align-items-center gap-1">
        <i class="fa" [ngClass]="getWeatherIcon().icon"></i>
              {{ getWeatherIcon().text }}
      </span>

      <!-- Температура -->
      <span class="flex align-items-center gap-1">
        <i class="pi pi-thermometer"></i>
            {{ weather.currentWeather }}°C
      </span>
    </div>
    <div>
      <p-button label="Close" severity="secondary" (click)="showModal = false" />
    </div>
  </ng-template>
</p-dialog>
