.tours-container {
  display: flex;
  flex-wrap: wrap;
  gap: .9rem;
}

.tour-card {
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: .5rem;
  width: 250px;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tour-card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.tour-image {
  width: 100%; /* Фиксированная ширина */
  height: 200px; /* Фиксированная высота */
  border-radius: .7rem;
  object-fit: cover; /* Сохраняет пропорции изображения, обрезая лишнее */
}

.no-date{
  width: 30%;
  height: 150px;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
