<div class="flex flex-wrap justify-content-around align-items-stretch m-5">
  <p-inputgroup>
    <input
      #searchInput
      pInputText
      placeholder="Поиск тура"
    />
    <p-inputgroup-addon>
      <p-button icon="pi pi-search" severity="secondary" variant="text"/>
    </p-inputgroup-addon>
  </p-inputgroup>
</div>

<div class="tours-container flex flex-wrap justify-content-around align-items-stretch">
  @for (item of tours | searchTour:  searchInput.value : 'name'; track item.id) {
     <div (click)="goToTour(item)" class="m-2 col-1 tour-card">
       <p-card
        header="{{item.name}}"
        subheader="{{item.price}}">
        <ng-template #header>
          <img src="/imgs/{{item.img}}" alt="card" class="w-full">
        </ng-template>
        <p>{{item.description}}</p>
        <div class="flex gap-4 mt-1 mt-3">
          <p-button label="{{'detail' | translate}}"
                    pTooltip="{{ 'showDetail' | translate}}"
                    tooltipPosition="bottom"
                    severity="primary"
                    class="w-full"
                    styleClass="w-full"
                    (click)="openDetail(item); $event.stopPropagation()"
          />
        </div>
      </p-card>
     </div>
  }
  @empty {
    <div class="no-date">Нет данных</div>
  }
</div>

<app-modal [isOpen]="isModalOpen" [content]="modalContent" (closeModal)="closeModal()"></app-modal>

<ng-template #modalContent>
  <div  class="m-2 col-3 tour-card">
    <p-card
      header="{{tour.name}}"
      subheader="{{tour.price}}">
      <ng-template #header>
        <img src="/imgs/{{tour.img}}" alt="card" class="w-full">
      </ng-template>
      <p>{{tour.description}}</p>
      <ng-template #footer>
        <div class="flex gap-4 mt-3">
          <p-button label="{{'buy' | translate}}"
                    severity="primary"
                    class="w-full"
                    styleClass="w-full"
                    (onClick)="buyTour(tour)"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
</ng-template>
