.auth-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для вкладок */
::ng-deep .p-tabview .p-tabview-nav {
  background-color: #ffffff;
  border: none;
}

::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: #333;
  border: none;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}
