/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #423f3f;
}

header, footer{
  height: 4rem;
  width: 100%;
  display: block;
}
header{
  background-color: #4583c5;
}
footer{
  background-color: #8d982a;
}
