<div class="flex container">
  <div class="m-2 bg-black-alpha-10 p-2">Фильтры:</div>
  <p-fieldset legend="Тип тура" class="m-2">
    <p-select
      [options]="toursType"
      [(ngModel)]="selectedType"
      (onChange)="changeTourType($event)"
      optionLabel="name"
      placeholder="Тип тура"
      class="w-100" />
  </p-fieldset>
  <p-fieldset legend="Дата тура" class="m-2">
    <p-datepicker
      [showIcon]="true"
      (onSelect)="changeDate($event)"
      (onClearClick)="clearFilter()"
      [(ngModel)]="selectedDate"
      [showButtonBar]="true"
      dateFormat="dd-mm-yy"
    ></p-datepicker>
  </p-fieldset>
</div>
