<div class="h-screen">
  <router-outlet />
  <p-toast/>
  <p-toast position="bottom-right" key="order-add">
    <ng-template let-message pTemplate="message">
      <div class="toast-content">
        <h4>Тур "{{ message.data.name }}" {{'addedToCart' | translate}}</h4>
        <p>Цена: {{ message.data.price }} ₽</p>
        <button
          pButton
          label="{{'moveToCart' | translate}}"
          (click)="router.navigate(['/orders'])">
        </button>
      </div>
    </ng-template>
  </p-toast>
</div>
