<div class="footer-content">
  <div class="footer-content__content">
    <div class="footer-content__header"><p>Подпишитесь на нас</p></div>
    <div class="socials">
      <a href="" class="footer-content__item fab fa-vk"></a>
      <a href="" class="footer-content__item fab fa-facebook-f"></a>
      <a href="" class="footer-content__item fab fa-instagram"></a>
      <a href="" class="footer-content__item fab fa-youtube"></a>
      <a href="" class="footer-content__item fab fa-telegram"></a>
      <a href="" class="footer-content__item fab fa-twitter"></a>
    </div>
  </div>
</div>
