@use "variables" as var;
:host{
  height: 4rem;
  width: 100%;
  display: block;
}

.layout-header{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: var.$header-background;
  color: #fff;
  height: 100%;
  padding: .2rem .5rem;
  &__right-block{
    display: flex;
    & .user-info{
      width: 100px;
    }
  }
}

.layout-header__menu{

}

.layout-header__right-block{

}

