@use "variables" as var;
:host{
  height: 4rem;
  width: 100%;
  display: block;
}

.layout-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  background-color: var.$header-background;
  color: #fff;
  height: 100%;
  padding: .2rem .5rem;
  &__right-block{
    display: flex;
    & .user-info{
      width: 100px;
    }
  }
}

.layout-header__menu{

}

.layout-header__right-block{
  display: flex;
  justify-content: space-between;
}

.user-info, .logout, .date, cart{
  margin: 0 .9rem;
}

.user-info{
  border: 1px solid #ccc;
  border-radius: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & .item {
    position: relative; // Необходимо для позиционирования ::after

    button {
      position: relative;
      z-index: 1; // Чтобы кнопка была выше псевдоэлемента
      transition: all 0.2s ease;

      &.active {
        transform: translateY(2px); // Смещение вниз

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.1);
          border-radius: .5rem;
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
          z-index: -1;
        }
      }
    }
  }
}

.custom-p-button{
  width: 100px;
}

.cart-container:hover{
  transform: scale(1.07);
  background: #007bff;
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
  transform-origin: center center;
}

.custom-p-button {
  position: relative;
}

.swing-animation {
  animation: swing 2s infinite ease-in-out;
}

@keyframes swing {
  0% { transform: rotate(-45deg); }
  50% { transform: rotate(45deg); }
  100% { transform: rotate(-45deg); }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 0 3px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
button:hover {
  opacity: 1;
}
button.active {
  opacity: 1;
  border-bottom: 2px solid #333;
}
svg {
  vertical-align: middle;
}
