@use "variables" as var;
:host{
  height: 4rem;
  width: 100%;
  display: block;
}

.layout-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  background-color: var.$header-background;
  color: #fff;
  height: 100%;
  padding: .2rem .5rem;
  &__right-block{
    display: flex;
    & .user-info{
      width: 100px;
    }
  }
}

.layout-header__menu{

}

.layout-header__right-block{
  display: flex;
  justify-content: space-between;
}

.user-info, .logout, .date, cart{
  margin: 0 .9rem;
}

.user-info{
  border: 1px solid #ccc;
  border-radius: .5rem;
}

.custom-p-button{
  width: 100px;
}

.cart:hover{
  transform: scale(1.07);
  background: #007bff;
}
