<p-button
  label="Back"
  styleClass="p-button-link"
  routerLink="/tours"
/>

<div class="m-1 col-4 tour-card">
<!--  @if(tour){-->
    <p-card
      *ngIf="tour; else temp"
      header="{{tour.name}}"
      subheader="{{tour.price}}"
      styleClass="tour-p-card">
      <ng-template #header class="images-size">
        <img src="/imgs/{{tour.img}}" alt="card" class="w-full">
      </ng-template>
      <p>{{tour.description}}</p>
    </p-card>
<!--  } @else {-->
<!--    <div class="load-data">Загрузка...</div>-->
<!--  }-->
</div>

<ng-template #temp>
  <div class="load-data">Загрузка...</div>
</ng-template>
