<div class="p-grid p-fluid">
  <div class="p-col-12 p-md-6">
    <label for="reg-login" class="block">Логин</label>
    <input id="reg-login" type="text" pInputText [(ngModel)]="regLogin" required class="w-full" />
  </div>
  <div class="p-col-12 p-md-6">
    <label for="email" class="block">Email</label>
    <input id="email" type="email" pInputText [(ngModel)]="email" required class="w-full" />
  </div>
  <div class="p-col-12 p-md-6">
    <label for="reg-password" class="block">Пароль</label>
    <input id="reg-password" type="password" pInputText [(ngModel)]="regPassword" required class="w-full" />
  </div>
  <div class="p-col-12 p-md-6">
    <label for="confirm-password" class="block">Подтвердите пароль</label>
    <input id="confirm-password" type="password" pInputText [(ngModel)]="confirmPassword" required class="w-full" />
  </div>
  <div class="p-col-12">
    <button pButton type="button" (click)="onRegister()" [disabled]="isPasswordsMismatch" class="w-full">Зарегистрироваться</button>
  </div>
</div>
